
body {
  margin: 0; /*станавливает величину отступа от каждого края элемента*/
  background: white;
}
table {
  /*Устанавливает грацицы ячейки. collapse - Линия между ячейками отображается только одна */
  border-collapse: collapse; /*Промежутки между ячейками*/
  line-height: 2;/*Межстрочный интервал*/
  color: black;
  margin: auto;/*станавливает величину отступа от каждого края элемента*/ 
}


th {
  padding: 10px; /*Устанавливает отступ*/
  border: 1px solid black;/*Устанавливает толщину, стиль и цвет вокруг элемента*/
}

td {

  border: 1px solid black; /*Определяет границу*/
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
}

footer {
    clear: both;/*Устанавливает, с какой стороны элемента запрещено его обтекание другими элементами. 
    both - Отменяет обтекание элемента одновременно с правого и левого края. 
    Это значение рекомендуется устанавливать, 
    когда требуется снять обтекание элемента, но неизвестно точно с какой стороны*/
    margin: 0 auto;/*Внешний отступ со всех сторон*/
    text-align: center;/*Централизация текста в блоке*/
}

h1,h3 {
	margin-left: 20px;/*Внешний отступ слева*/
}

p {
	margin-left: 60px;/*Внешний отступ слева*/
}

hr {
	margin-left: 20px;/*Внешний отступ слева*/
	margin-right: 240px;/*Внешний отступ справа*/
	border-top:1px solid black;/*позволяет одновременно установить толщину, стиль и цвет границы сверху элемента*/
}

.turn{
  /*writing-mode - устанавливает направление текста на странице.
   tb-lr - Текст располагается вертикально и выравнивается по нижнему и правому краю*/
   writing-mode: tb-lr;
   /*Трансформирует элемент, в частности, позволяет его масштабировать, 
   вращать, сдвигать, наклонять, а также комбинировать виды трансформаций.
   rotate - поворот элемента на заданный угол относительно точки трансформации*/
   transform:rotate(270deg);
   font-size:30px;/*Определяет размер шрифта элемента*/
}
.first {
  font-size: 1em;/*Определяется размер шрифта. em - величина относительно текущего шрифта*/
  font-weight: bold;/*Определяет жирность. bolt - означает полужирный*/
  text-align: center; /*Централизация текста в блоке*/
}

div {
  height: 100vh; /*высота = 100% от области просмотра браузером*/
  overflow: auto;/*управляет отображением содержания блочного элемента, 
  если оно целиком не помещается и выходит за область заданных размеров.
  auto - управляет отображением содержания блочного элемента, 
  если оно целиком не помещается и выходит за область заданных размеров.*/
}

