
body {
  margin: 0; /*станавливает величину отступа от каждого края элемента*/
  background: white;
}
table {
  /*Устанавливает грацицы ячейки. collapse - Линия между ячейками отображается только одна */
  border-collapse: collapse; 
  line-height: 2;
  color: black;
  margin: auto;
}

}
 caption:after {
}

th {
  padding: 10px; /*Устанавливает отступ*/
  border: 1px solid black;/*Устанавливает толщину, стиль и цвет вокруг элемента*/
}

td {

  border: 1px solid black;
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
}

footer {
    clear: both;/*Устанавливает, с какой стороны элемента запрещено его обтекание другими элементами. 
    both - Отменяет обтекание элемента одновременно с правого и левого края. 
    Это значение рекомендуется устанавливать, 
    когда требуется снять обтекание элемента, но неизвестно точно с какой стороны*/
    margin: 0 auto;
    text-align: center;
}

h1,h3 {
	margin-left: 20px;
}

p {
	margin-left: 60px;
}

hr {
	margin-left: 20px;
	margin-right: 240px;
	border-top:1px solid black;/*позволяет одновременно установить толщину, стиль и цвет границы сверху элемента*/
}

.turn{
  /*writing-mode - устанавливает направление текста на странице.
   tb-rl - Текст располагается вертикально и выравнивается по нижнему и правому краю*/
   writing-mode: tb-rl;
   /*Трансформирует элемент, в частности, позволяет его масштабировать, 
   вращать, сдвигать, наклонять, а также комбинировать виды трансформаций.
   rotate - поворот элемента на заданный угол относительно точки трансформации*/
   transform:rotate(270deg);
   font-size:30px;/*Определяет размер шрифта элемента*/
}
.first {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

div {
  height: 100vh;
  overflow: auto;
}

